<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">About Me</h1>

  <div class="btn-toolbar mb-2 mb-md-0">
    <button class="btn btn-sm btn-outline-secondary" href="/add">?</button>
  </div>
</div>


<div class="card" style="width: 18rem;">
    <img src="/images/bidyut.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bidyut Sikder</h5>
      <p class="card-text">Just a developer with 3 years of exprience.Learning new things is my passion.Feel like wow when I complete my work.Thank you.</p>
      <a href="/" class="btn btn-primary">Go Back</a>
    </div>
  </div>


















